<p id="notice"><%= notice %></p>
  <section class="homepage_section">
    <div class="top_article">
      <%= image_tag @top_article.image.url %>
      <h1><%= @top_article.title %></h1>
      <p><%= @top_article.text %></p>
    </div>
    
    <div class="category">
      <%= image_tag @top_javascript.image.url %>
      <h2><%= link_to 'Javascript', category_path(@top_javascript.categories.ids[0]) %></h2>
      <p><%=@top_javascript.title%></p>
    </div>
    <div class="category">
      <%= image_tag @top_ruby.image.url %>
      <h2><%= link_to 'Ruby', category_path(@top_ruby.categories.ids[0]) %></h2>
      <p><%=@top_ruby.title%></p>
    </div>
    <div class="category">
      <%= image_tag @top_python.image.url %>
      <h2><%= link_to 'Python', category_path(@top_python.categories.ids[0]) %></h2>
      <p><%=@top_python.title%></p>
    </div>
    <div class="category">
      <%= image_tag @top_java.image.url %>
      <h2><%= link_to 'Java', category_path(@top_java.categories.ids[0]) %></h2>
      <p><%=@top_java.title%></p>
    </div>
  </section>
<%
=begin %>
<h1>Book Articles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_articles.each do |book_article| %>
      <tr>
        <td><%= book_article.title %></td>
        <td><%= book_article.text %></td>
        <td><%= link_to 'Show', book_article %></td>
        <td><%= link_to 'Edit', edit_book_article_path(book_article) %></td>
        <td><%= link_to 'Destroy', book_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%
=end %>