<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book_article.title %>
</p>

<p>
  <strong>text:</strong>
  <%= @book_article.text %>
</p>

<%= link_to 'Edit', edit_book_article_path(@book_article) %> |
<%= link_to 'Back', book_articles_path %>
